<main class="container vh-100 d-flex flex-column justify-content-center align-items-center">
  <div>
    <h2><%= t :shorten_link %></h2>

    <%= bootstrap_form_with url: link_add_url, method: :post, local: true do |f| %>
      <%= f.text_field :url, required: true, label: Link.human_attribute_name('url'), label_as_placeholder: true %>
    
      <div class="d-flex justify-content-end align-items-center">
        <%= f.submit t(:shorten_link), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

  <div class="mt-3 d-flex flex-column justify-content-center align-items-start">
    <p><%= link_to t(:links_as_html), link_all_url %></p>
    <p><%= link_to t(:links_as_xml), link_all_url(format: :xml) %></p>
  </div>
</main>
